$input-height: 2.5rem; // TODO: de-dupe

.TickerSearchResultsMenu {
  position: absolute;
  top: calc(#{$input-height});
  left: 0;
  min-height: 2rem;
  background-color: #fff9f7;
  width: 100%;
  border-radius: 0.2rem;
  border: 0.1rem solid #aaa;
  box-shadow: 0.2rem 0.2rem 0.4rem 0.1rem rgba(0, 0, 0, 0.1);

  ul {
    list-style-type: none;
  }

  &--Item {
    width: 100%;
    cursor: pointer;
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
    transition: 300ms;
    /* TODO: add hover state */
    &:hover {
      background-color: #f1efe8;
      color: #22a7ff;
    }
  }
}
