$input-height: 2.5rem;

.TickerSearchInput {
  position: relative;
  min-width: 22rem;

  &.Loading {
    // show the animation
    &::after {
      content: " ";
      height: 0.2rem;
      animation-name: loader;
      animation-duration: 3000ms;
      animation-iteration-count: infinite;
      width: calc(100% - 0.4rem);
      background-color: #22a7ff;
      position: absolute;
      bottom: 0;
      left: 0.2rem;
    }
  }

  .TickerSearchInput--input {
    outline: none;
    width: 100%;
    height: $input-height;
    padding-left: 0.8rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #bbbbbb;
    background-color: #fcf7f5;
  }

  /* TODO: how to manage cases in BEM */
  .TickerSearchInput--Menu {
    position: absolute;
    top: calc(#{$input-height} + 0.2rem);
    left: 0;
    min-height: 2rem;
    background-color: bisque;
    width: 100%;

    ul {
      list-style-type: none;
    }
  }

  .TickerSearchInput--MenuItem {
    border: 0.1rem solid black;
    width: 100%;
    cursor: pointer;
    /* TODO: add hover state */
  }
}

@keyframes loader {
  0% {
    transform: scaleX(0.1);
  }
  25% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.1);
  }
  75% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0.1);
  }
}
